
    <h1>Result</h1>
    <div class="d-flex">
        <div><button class="btn btn-info m-3">View Image</button></div>
        <div><a href="resize" class="btn btn-warning m-3">Resume Edit</a href="resize"></div>
        <div><a href="download" class="btn btn-success m-3">Save to Disk</a></div>
    </div>